html.light code.hljs {
    color: #000 !important;
    background: #f6f7f6 !important;
}

html.light .hljs {
    color: #000 !important;
    background: #f6f7f6 !important;
}

html.light .hljs-comment,
html.light .hljs-quote {
  color: #575757;
}

html.light .hljs-keyword,
html.light .hljs-name,
html.light .hljs-section,
html.light .hljs-selector-tag {
    color: #2871cc
}

html.light .hljs-template-variable,
html.light .hljs-variable {
    color: #49b3ac
}

html.light .hljs-regexp,
html.light .hljs-selector-attr,
html.light .hljs-selector-pseudo,
html.light .hljs-string {
    color: #689932
}

html.light .hljs-bullet,
html.light .hljs-link,
html.light .hljs-literal,
html.light .hljs-meta,
html.light .hljs-number,
html.light .hljs-symbol {
    color: #3e9fcc
}

html.light .hljs-attr,
html.light .hljs-built_in,
html.light .hljs-builtin-name,
html.light .hljs-doctag,
html.light .hljs-javadoc,
html.light .hljs-params,
html.light .hljs-title,
html.light .hljs-type {
    color: #6f79a9
}

html.light .hljs-attribute,
html.light .hljs-subst {
    color: #000
}

html.light .hljs-formula {
    font-style: italic
}

html.light .hljs-selector-class,
html.light .hljs-selector-id {
    color: #e69a3a
}

html.light .hljs-package {
    color: #242728
}

html.light .hljs-doctag,
html.light .hljs-strong {
    font-weight: bold
}

html.light .hljs-emphasis {
    font-style: italic
}

html.light .hljs {
  overflow-x: auto;
  background: #f1f3f4;
  color: #000;
}

html.light .hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}

html.light .hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}

html.rust .hljs-comment,
html.rust .hljs-quote {
  color: #575757;
}

/* Red */
html.rust .hljs-variable,
html.rust .hljs-template-variable,
html.rust .hljs-attribute,
html.rust .hljs-attr,
html.rust .hljs-tag,
html.rust .hljs-name,
html.rust .hljs-regexp,
html.rust .hljs-link,
html.rust .hljs-name,
html.rust .hljs-selector-id,
html.rust .hljs-selector-class {
  color: #d70025;
}

/* Orange */
html.rust .hljs-number,
html.rust .hljs-meta,
html.rust .hljs-built_in,
html.rust .hljs-builtin-name,
html.rust .hljs-literal,
html.rust .hljs-type,
html.rust .hljs-params {
  color: #b21e00;
}

/* Green */
html.rust .hljs-string,
html.rust .hljs-symbol,
html.rust .hljs-bullet {
  color: #008200;
}

/* Blue */
html.rust .hljs-title,
html.rust .hljs-section {
  color: #0030f2;
}

/* Purple */
html.rust .hljs-keyword,
html.rust .hljs-selector-tag {
  color: #9d00ec;
}

html.rust .hljs {
  background: #f6f7f6;
  color: #000;
}

html.rust .hljs-emphasis {
  font-style: italic;
}

html.rust .hljs-strong {
  font-weight: bold;
}

html.rust .hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}

html.rust .hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}

code.hljs{color:#cad3f5;background:#24273a}code .hljs-keyword{color:#c6a0f6}code .hljs-built_in{color:#ed8796}code .hljs-type{color:#eed49f}code .hljs-literal{color:#f5a97f}code .hljs-number{color:#f5a97f}code .hljs-operator{color:#91d7e3}code .hljs-punctuation{color:#b8c0e0}code .hljs-property{color:#8bd5ca}code .hljs-regexp{color:#f5bde6}code .hljs-string{color:#a6da95}code .hljs-char.escape_{color:#a6da95}code .hljs-subst{color:#a5adcb}code .hljs-symbol{color:#f0c6c6}code .hljs-variable{color:#c6a0f6}code .hljs-variable.language_{color:#c6a0f6}code .hljs-variable.constant_{color:#f5a97f}code .hljs-title{color:#8aadf4}code .hljs-title.class_{color:#eed49f}code .hljs-title.function_{color:#8aadf4}code .hljs-params{color:#cad3f5}code .hljs-comment{color:#939ab7}code .hljs-doctag{color:#ed8796}code .hljs-meta{color:#f5a97f}code .hljs-section{color:#8aadf4}code .hljs-tag{color:#8bd5ca}code .hljs-name{color:#c6a0f6}code .hljs-attr{color:#8aadf4}code .hljs-attribute{color:#a6da95}code .hljs-bullet{color:#8bd5ca}code .hljs-code{color:#a6da95}code .hljs-emphasis{color:#ed8796;font-style:italic}code .hljs-strong{color:#ed8796;font-weight:bold}code .hljs-formula{color:#8bd5ca}code .hljs-link{color:#7dc4e4;font-style:italic}code .hljs-quote{color:#a6da95;font-style:italic}code .hljs-selector-tag{color:#eed49f}code .hljs-selector-id{color:#8aadf4}code .hljs-selector-class{color:#8bd5ca}code .hljs-selector-attr{color:#c6a0f6}code .hljs-selector-pseudo{color:#8bd5ca}code .hljs-template-tag{color:#f0c6c6}code .hljs-template-variable{color:#f0c6c6}code .hljs-addition{color:#a6da95;background:rgba(166,218,149,.15)}code .hljs-deletion{color:#ed8796;background:rgba(237,135,150,.15)} .hljs{display: block;overflow-x: auto;background: #191f26;color: #e6e1cf;}
