/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media only screen {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    @media (max-width: 1499px) {
        #sidetoc {
            display: none;
        }
    }

    @media (1500px <= width <= 1700px) {
        .sidebar-hidden main {
            position: relative;
            left: var(--center-content-toc-shift);
        }

        .sidebar-visible main {
            position: relative;
            left: var(--center-content-toc-shift);
        }
    }

    .content-wrap {
        width: 100%;
        /* margin-left: -10rem; */
        /* margin-right: 5rem; */
    }

    #sidetoc {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: auto;
        position: relative;
    }
    #pagetoc {
        position: fixed;
        top: calc(var(--menu-bar-height) + 12px);
        right: max(8px, calc((90vw - var(--content-max-width)) / 3));
        /* adjust TOC width */
        width: min(320px, 26vw);
        height: calc(100vh - var(--menu-bar-height) - 0.67em * 4);
        overflow: auto;
        z-index: 3;
    }
    @media (min-width: 1500px) {
        .content main {
            padding-right: min(320px, 26vw);
        }
    }
    #pagetoc a {
        border-left: 1px solid var(--sidebar-bg);
        color: var(--fg) !important;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        text-align: left;
        text-decoration: none;
    }
    #pagetoc .pagetoc-toggle {
        display: inline-block;
        width: 12px;
        margin-right: 6px;
        transform: rotate(90deg);
        transition: transform 0.2s ease;
    }
    #pagetoc .pagetoc-collapsed .pagetoc-toggle {
        transform: rotate(0deg);
    }
    #pagetoc .pagetoc-hidden {
        display: none;
    }
    #pagetoc a:hover,
    #pagetoc a.active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg) !important;
    }
    #pagetoc .active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg);
    }
    #pagetoc .pagetoc-H2 {
        padding-left: 20px;
    }
    #pagetoc .pagetoc-H3 {
        padding-left: 40px;
    }
    #pagetoc .pagetoc-H4 {
        padding-left: 60px;
    }
}

@media print {
    #sidetoc {
        display: none;
    }
}
